---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Photography">
    <h1 class="text-orange text-4xl font-medium py-4 font-clashdisplay">Graphic design</h1>
    <div class="flex flex-col">
        <div>
            <h2 class="text-2xl py-4 font-clashdisplay">Brasserie Jean Martin</h2>
            <p>
                The Jean Martin brewery is a fictitious brewery created as part of a visual communication course at the
                HEIG-VD. The goal was to create a visual identity for a company by choosing among 4 proposals of names
                and 4 proposals of activities.
            </p>
            <h3 class="text-xl mt-4 font-clashdisplay">The concept</h3>
            <p>
                Jean Martin is a swiss brewer who has created his own micro-brewery name after himself. Passionate about
                super heroes since he was a kid, he wanted to create a universe merging beers and super heroes. Thank to
                the alliance of his two passions, he is able to offer a quality beer that stand out from the rest
                because of its unique taste and its design.
            </p>

            <div class="flex flex-col text-center items-center">
                <img
                    src="./assets/img/bouteilles-brasserie-jean-martin.png"
                    alt="Photo of the 3 beers of the Jean Martin brewery"
                    class="w-max lg:w-3/4"
                />
                <span>
                    Go to the
                    <a
                        href="https://www.behance.net/gallery/136662809/BRASSERIE-JEAN-MARTIN-Branding"
                        class="text-orange"
                    >
                        Behance project
                    </a>
                </span>
            </div>
        </div>
        <div class="mt-32">
            <h2 class="text-2xl py-4 font-clashdisplay">Hanx.ch</h2>
            <p>
                The website hanx.ch is a project realized during an e-commerce course at the HEIG-VD. The goal of the
                project was to create an e-commerce store as well as its blog, its graphic identity and its various
                social networks. The website is dedicated to Tom Hanks and the universe of his movies.
            </p>
            <div class="flex flex-col text-center items-center">
                <img src="./assets/img/hanx-logo.png" alt="Hanx.ch's logo" class="w-max lg:w-3/4 xl:w-1/2" />
                <span>
                    Go to
                    <a href="https://www.behance.net/gallery/137027239/Hanxch" class="text-orange"> Behance project</a>
                </span>
            </div>
        </div>
        <div class="mt-32">
            <h2 class="text-2xl py-4 font-clashdisplay">Bar 492</h2>
            <p>
                As a project for a Print Media Ecosystem course at HEIG-VD, I was asked to make a trombinoscope
                including each student in my class. The final poster had to be in A0 format and no other constraints
                were submitted. As a universe for this project, I decided to go towards a beach bar atmosphere, a bit
                vintage.
            </p>
            <div class="flex flex-col text-center items-center">
                <img
                    src="./assets/img/bar-492.png"
                    alt="Photos of the first Meet The Expert Talk"
                    class="w-max lg:w-3/4"
                />
                <span>
                    Go to
                    <a href="https://www.behance.net/gallery/137047383/Bar-492-Trombinoscope" class="text-orange"> Behance project</a>
                </span>
            </div>
        </div>
    </div>
</MainLayout>
