---
import GetInTouch from "../components/GetInTouch.astro";
import MyWork from "../components/MyWork.astro";
import WhoAmI from "../components/WhoAmI.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
    <div class="h-[90vh] flex flex-col justify-center">
        <span class="font-clashdisplay">Hi, my name is</span>
        <h1 class="text-orange text-8xl font-medium py-4 font-clashdisplay">Simon Meia</h1>
        <h2 class="text-xl font-light font-clashdisplay">
            I'm a <span class="text-orange">web developer</span> based in <span class="text-orange">Switzerland</span>
        </h2>
        <a href="#my-work" class="w-52 mt-8 p-4 font-clashdisplay border-orange border-solid border-2 rounded text-center text-orange">
            Wanna see my work ?</a
        >
    </div>
    <div class="space-y-32">
        <MyWork id="my-work" />
        <WhoAmI id="who-am-i" />
        <GetInTouch id="get-in-touch" />
    </div>
</MainLayout>
