---
import GetInTouch from "../components/GetInTouch.astro";
import MyWork from "../components/MyWork.astro";
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout title="Home">
    <div class="h-[85vh] flex flex-col justify-center">
        <span>Hi, my name is</span>
        <h1 class="text-orange text-7xl font-medium py-4">Simon Meia</h1>
        <h2 class="text-xl font-light">
            I'm a <span class="text-orange">web developer</span> based in <span class="text-orange">Switzerland</span>
        </h2>
        <a href="#" class="w-52 mt-8 p-4 border-orange border-solid border-2 rounded text-center text-orange">
            Wanna see my work ?</a
        >
    </div>
    <div class="space-y-32">
        <MyWork />
        <GetInTouch />
    </div>
</MainLayout>
