---
import MainLayout from "../layouts/MainLayout.astro";
const title = "Simon Meia - Swiss web developer - Photography";
---

<MainLayout title={title}>
    <h1 class="text-orange text-4xl font-medium py-4 font-clashdisplay">Photography</h1>
    <div>
        <h2 class="text-2xl py-4 font-clashdisplay">Meet the experts</h2>
        <p>
            During the 5th semester of the media engineering studies former students came to talk about their
            professional experiences after graduation. For each one of them, the class had to film, take photos and
            wirite a blog post about the talk. I volonteered to take pictures for 2 talks.
        </p>
        <div class="flex flex-col text-center items-center">
            <img
                src="./assets/img/meet-the-expert-1.png"
                alt="Photos of the first Meet The Expert Talk"
                class="w-max lg:w-3/4 xl:w-1/2"
            />
            <span>
                Go to
                <a
                    href="https://www.linkedin.com/posts/media-engineering-institute_formationpro-heigvd-stage-activity-6993909190255640576-OgI0?utm_source=share&utm_medium=member_desktop"
                    class="text-orange"
                >
                    Linkedin post
                </a>
            </span>
        </div>
    </div>

    <div class="mt-32">
        <h2 class="text-2xl py-4 font-clashdisplay">Sport tournament</h2>
        <p>
            I was in charge of taking picture during an <i>pétanque</i> tournament we organized with my friends. I tried
            to capture the emotions and moments of conviviality during the afternoon and it was a very rewarding exercise
        </p>
        <div class="flex flex-col text-center items-center">
            <img
                src="./assets/img/petanque.png"
                alt="Photos of the first Meet The Expert Talk"
                class="w-max lg:w-3/4 xl:w-1/2"
            />
            <span>
                Go to
                <a href="https://jeunesse2520.wixsite.com/jdln/infos-p%C3%A9tanque" class="text-orange">website</a>
            </span>
        </div>
    </div>

    <div class="mt-32">
        <h2 class="text-2xl py-4 font-clashdisplay">Author interview</h2>
        <p>
            Being the computer manager of the library of my village, I had the opportunity to extend my commitment
            during one afternoon by taking pictures during the interview of an author which took place at the library.
        </p>
        <div class="flex flex-col text-center items-center">
            <img
                src="./assets/img/author-interview.png"
                alt="Photos of the first Meet The Expert Talk"
                class="w-max lg:w-3/4 xl:w-1/2"
            />
            <span>
                Go to
                <a href="https://biblio2520.ch/galerie/rencontre-avec-alexia-stumpf/" class="text-orange">website</a> -
                <a href="https://www.instagram.com/p/CdknYvbKRET/" class="text-orange"
                    >Instagram post</a
                > -
                <a href="https://www.facebook.com/biblio2520/posts/pfbid0fmctfUnBiVoHv5zDtykwbkc9ifnUaaR6ib3tW22Eo5Qhq1r9B1NQuFjWnd2LMjUsl" class="text-orange">Facebook post</a
                >
            </span>
        </div>
    </div>
</MainLayout>
