<nav class="relative">
    <div class="flex items-center justify-between h-24">
        <div>
            <a href="/#"><img src="./assets/logo.png" alt="logo" class="w-16"></a>
        </div>
        <div class="space-x-16 hidden md:flex">
            <a href="/projects">My work</a>
            <a href="/about-me">Who am I ?</a>
            <a href="/about-me">Get in touch !</a>
        </div>
    </div>
</nav>