---
import NavBar from "../components/NavBar.astro";
import "../base.css";
const { title } = Astro.props;
const year = new Date().getFullYear();
---

<html lang="en" class="scroll-smooth">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap"
            rel="stylesheet"
        />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body
        class="font-opensans text-white bg-black container mx-auto flex flex-col h-screen justify-between px-6"
    >
        <NavBar />
        <section class="container-main mb-auto">
            <slot />
        </section>
        <footer class="mt-12 mb-2 flex items-center justify-between">
            <div class="space-x-2">
                <a href="https://github.com/SimonMeia"><img src="/assets/icons/github.svg" class="w-8 inline" /></a>
                <a href="https://www.linkedin.com/in/simon-meia/"
                    ><img src="/assets/icons/linkedin.svg" class="w-8 inline" />
                </a>
            </div>
            <div>
                Designed & Built by Simon Meia in {year}
            </div>
        </footer>
    </body>
</html>
